.weather-now {
  margin-top: 2rem;
}

.weather-data__sys {
  display: flex;
  justify-content: center;
  & > div {
    padding: 0rem 6rem;
  }
  img {
    height: 2rem;
  }
}

.weather-now {
  color: white;
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 4.5rem;
}

.weather-now__data > div {
  padding: 1rem 0rem;
}

.now-temperature__icon {
  position: relative;
  left: 2rem;
}

.weather-now__iconImg {
  transform: scale(2, 2);
}
