<div class="home-page" (window:keydown.l)="goToAppList()">
  <div class="home-page__info home-info">
    <div class="home-info__city">Могилёв</div>
    <info-realtime></info-realtime>
    <info-weather-now></info-weather-now>
    <div class="home-page__info video-player">
        <vg-player>
          <video [vgMedia]="media" #media id="singleVideo" [autoplay]="true">
            <source src="../../../assets/1.mp4" type="video/mp4">
          </video>
        </vg-player>
      </div>
  </div>

  <div class="home-page__logo">
    <div><img src="../../../assets/STRIM.png"/></div>
    <div><img src="../../../assets/JSMachine.png"/></div>
  </div>
  <div class="home-page__controls page-controls">
    <div class="page-controls__space">
    </div>
    <div class="page-controls__apps" (click)="goToAppList()">
        <i class="material-icons">apps</i>
    </div>
    <div class="page-controls__mirror">
      <finger-mirror></finger-mirror>
    </div>
<!--    <div class="page-controls__back">-->
<!--      <i class="material-icons">arrow_back</i>-->
<!--    </div>-->
  </div>
</div>
