.info-panel {
  display: grid;
  height: 100%;

  color: white;

  grid-template-rows: 15% 20% auto 20% 10%;

  background-size: cover;

  .title {
    color: white;
    margin:0;
    padding:50px 20px;
  }

  & > div {
   border: 1px solid red;
  }
}
