<div class="home-page" (window:keydown.l)="goToAppList()" (window:keydown.a)="goToForecast()"
  (window:keydown.d)="goToForecast()">
  <div class="home-page__info home-info">
    <div class="home-info__city">Могилёв</div>
    <info-realtime></info-realtime>
    <temperature-now></temperature-now>
    <div class="home-page__info video-player">
      <video-player></video-player>
    </div>
  </div>
  <div class="home-page__logo">
    <logo-view></logo-view>
  </div>
  <div class="home-page__controls page-controls">
    <!-- <div class="page-controls__space">
    </div> -->
    <div class="page-controls__apps" (click)="goToAppList()">
      <i class="material-icons">apps</i>
    </div>
    <!-- <div class="page-controls__mirror">
      <finger-mirror></finger-mirror>
    </div> -->
    <!--    <div class="page-controls__back">-->
    <!--      <i class="material-icons">arrow_back</i>-->
    <!--    </div>-->
  </div>
</div>