.info-panel {
  display: grid;
  height: 100%;

  color: white;

  grid-template-rows: 1fr 2fr 6fr 2fr 1fr;

  background-size: cover;

  .title {
    color: white;
    margin:0;
    padding:50px 20px;
  }

  & > div {
   border: 1px solid red;
  }
}
