.app-list {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.app-list::after {
  content: "";
  background: url("/assets/city.png");
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.app-list__panel {
  flex: 1;
}

.app-list__panel {
  display: grid;
  grid-template-columns: 50% 50%;

  & > div {
    font-size: 4rem;
    font-family: "Roboto Regular";
    border: 1px solid gray;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: flex;
  }

  i {
    padding: 0rem 2rem;
    font-size: 10rem;
    cursor: pointer;
  }
}
