.weather-forecast__day {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-content: center;
}
.forecast-day__temperature {
  text-align: center;
  margin-top: -0.5rem;
}

.weather-forecast__label {
  width:100%;
  text-align: center;
  padding-top: 0.5rem;
  font-size: 5rem;
}
