.weather-forecast {
  position: relative;
  z-index: 2;
  color: white;
}
.weather-forecast__day {
  display: flex;
  flex: 1;
}

.forecast-day__column {
  flex-grow: 1;
  padding-bottom: 3rem;
  border-right: 0.1rem solid rgba(255, 255, 255, 0.5);
}
.forecast-day__column:nth-last-child(1) {
  border-right: 0;
}

.forecast-day__date,
.forecast-day__weekday,
.forecast-day__temperature,
.forecast-day__pressure,
.forecast-day__humidity,
.forecast-day__icon {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 3rem;
}

.weather-forecast__label {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.weather-forecast__iconImg {
  transform: scale(2, 2);
}
