.currency-container {
  padding-top: 10px;
}

.currency {
  display: flex;
  text-align: center;
}

.currency__flag {
  flex: 1;
  img {
    width: 3rem;
    height: 2rem;
  }
}

.currency__rate {
  flex: 1
}
