.currency-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
  margin-bottom: 1rem;
}

.currency {
  display: flex;
  text-align: center;
  width: 25%;
}

.currency__flag {
  flex: 1;
  img {
    width: 5rem;
    height: 3rem;
  }
}

.currency__rate {
  display: flex;
  align-items: center;
  font-size: 3rem;
}
