.weather-forecast__day {
  display: flex;
  flex: 1;
  justify-content: space-around;
}
.forecast-day__temperature {
  text-align: center;
  margin-top: -0.5rem;
}

.weather-forecast__label {
  padding-top: 0.5rem;
  padding-left: 2.5rem;
}
