<div class="realtime-container">
  <div class="realtime-time">
    <span>{{currentDate}}</span>
    <span>Магілёў</span>
    <span>{{currentTime}}</span>
  </div>
  <div class="realtime-other">
    <div class="realtime-other__weather-now">
     <info-weather-now></info-weather-now>
    </div>
    <div class="realtime-other__weather-forecast">
     <info-weather-forecast></info-weather-forecast>
    </div>
    <div class="realtime-other__currency">
     <info-currency></info-currency>
    </div>
  </div>
</div>
