<div class="logo__items">
    <mdb-carousel [isControls]="false" [animation]="'slide'" [interval]="'1000'">
        <mdb-carousel-item>
            <div class="logo__images">
                <img src="assets/STRIM.png" />
                <img src="assets/qrstrim.png" />
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="logo__images">
                <img src="assets/JSMachine.png" />
                <img src="assets/qrjsmachine.png" />
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="logo__images">
                <img src="assets/TPM.png" />
                <img src="assets/qrtpm.png" />
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
</div>