<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="logo__images">
            <img src="assets/STRIM.png" />
            <img src="assets/qrstrim.png" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="logo__images">
            <img src="assets/JSMachine.png" />
            <img src="assets/qrjsmachine.png" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="logo__images">
            <img src="assets/TPM.png" />
            <img src="assets/qrtpm.png" />
        </div>
    </ng-template>
</owl-carousel-o>