<div class="logo__items">
    <!-- <div><div><img src="assets/qrstrim.png" /></div><div><img src="assets/STRIM.png" /></div></div>
    <div><div><img src="assets/qrjsmachine.png" /></div><div><img src="assets/JSMachine.png" /></div></div>
</div> -->
    <mdb-carousel [isControls]="false" [animation]="'slide'" [interval]="'1000'" [noWrap]="true" [noPause]="true">
        <mdb-carousel-item>
            <!-- <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg"
                alt="First slide"> -->
            <div class="d-block w-100 logo__images">
                <img src="assets/STRIM.png" />
                <img src="assets/qrstrim.png" />
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <!-- <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg"
                alt="Second slide"> -->
            <div class="d-block w-100 logo__images">
                <img src="assets/JSMachine.png" />
                <img src="assets/qrjsmachine.png" />
            </div>
        </mdb-carousel-item>
        <!-- <mdb-carousel-item>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
        </mdb-carousel-item> -->
        <div class="d-block w-100 logo__images">
            <img src="assets/TPM.png" />
            <img src="assets/qrtpm.png" />
        </div>
    </mdb-carousel>
</div>