// .logo__items{
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   width: 100%;
//   height: 100%;
//   & > div {
//     display: flex;
//     align-items: center;
    
//     // flex-direction: column;
//     // flex: 1;
//     text-align: center;
//     font-size: 3rem;
//     & > div {
//       margin-right: 1rem;
//     }
//   }
//  }

.logo__images{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}