.weather {
  margin-bottom: 2rem;
}

.weather-data__sys {
  display: flex;
  justify-content: center;
  & > div {
    padding: 0rem 6rem;
  }
  img {
    height: 2rem;
  }
}

.weather {
  text-align: center;
  font-family: 'NotoSans';
  font-size: 5rem;
}

.weather__data > div {
  padding: 1rem 0rem;
}

.temperature__icon {
  position: relative;
  top: -10px;
  left: 2rem;
}

.temperature__iconImg {
  transform: scale(2, 2);
}
